<div class="container color-dark">
  <div class="col">
    <p>Bowling</p>
  </div>
  <div class="col">
    <p>Rounds played({{itemCount}})</p>
  </div>
</div>
<!-- [@...] triggers the animation -->
<div class="container color-light" [@scores]="scores.length">
  <div class="col">
    <p class="sm">Your round!</p>

    <form>
      <input type="number" class="txt" name="item" placeholder="first" [(ngModel)]="scoreText" >

      <input type="number" class="txt" name="rollfield" placeholder="second" [(ngModel)]="roll2" >

      <input type="submit" class="btn" [value]="btnText" (click)="checkScore()">
    </form>
  </div>

  <div class="col">
    <p class="life-container" *ngFor="let score of scores; let i = index"  (click)="removeItem(i)">
        {{score}}
    </p>
  </div>
</div>

